.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page {
  &-links {
    clear: both;
    margin: 0 0 1.5em;
  }



  &-template-page-faq,
  &-template-page-contact,
  &-template-page-booking {
    background: url('images/page-bg.png') no-repeat right 131px $color__background-body;
  }
}

.site {
  &-main {
    position: relative;
    z-index: 2;

  }

  &-content {
    margin: 1.5em 0 0;
    color: $color__text-main;

    p {
      font-size: .9375rem;
    }
  }
}

.entry {

  &-summary,
  &-content {
    clear: both;
    margin: 0 0 1.5em;
  }

  &-title {
    color: $blue;
    display: inline-block;
    font-family: $font__sec;
    font-size: 3rem;
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
    line-height: 1.0;
    font-weight: bold;

    &--has-line {
      margin-bottom: 48px;

      &::after {
        background-color: $blue;
        content: "";
        height: 14px;
        position: absolute;
        width: 189px;
        z-index: 2;
        left: -23px;
        bottom: -21px;
      }
    }

    &--has-bg {
      @include media-breakpoint-up(sm) {
        margin-top: 45px;
      }

      span {
        position: relative;
        z-index: 2;
      }

      &::before {
        background-color: $color__background-title;
        bottom: 0;
        content: "";
        height: 256px;
        left: -66px;
        margin: auto;
        position: absolute;
        top: 67px;
        width: 280px;
        z-index: 1;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }
}
