button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid;
  border-color: $color__border-button;
  background: $color__background-button;
  color: #626462;
  font-size: .8125rem;
  line-height: 33px;
  min-width: 77px;
  min-height: 33px;
  padding: 0;
  border-radius: 0;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }

  &.btn-outline-primary {
    background: transparent;

    &:hover {
      background: $blue;
    }

  }
}
