.navbar {
  .navbar-toggler {
    border: none;
    outline: none;

    @media screen and (max-width: 400px) {
      padding: 0;
      min-width: auto;
    }

    .navbar-toggler-icon {
      color: $blue;
      font-size: 1.875rem;
    }
  }


  &-abdulay {
    margin-top: 5px;
    margin-bottom: 70px;
    padding-top: 64px;

    @media screen and(min-width: 30rem) {
      padding-top: 30px;
    }

    .navbar-nav {
      margin: 0;

      .nav-item {
        &:hover .nav-link .underline {
          opacity: 1;
          visibility: visible;
        }

        .nav-link {
          color: $blue;
          font-size: .875rem;
          letter-spacing: 3px;
          padding-left: 17px;
          padding-right: 17px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;

          span {
            position: relative;
            display: inline-block;
            width: 100%;
          }

          .underline {
            background: $blue;
            bottom: -5px;
            height: 2px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            transition: visibility 0s, opacity 0.5s linear;
            visibility: hidden;
            width: 100%;

            @include media-breakpoint-down(sm) {
              display: none;
            }
          }

          &:hover {
            transition: text-decoration 0.5s linear;

            &>.underline {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }


      .dropdown--hover {

        &:hover {

          &>.dropdown-menu--hover {
            opacity: 1;
            visibility: visible;
          }
        }

        .nav-link {
          position: relative;
          z-index: 10;
        }

        .dropdown-menu--hover {
          background: #fffdfc !important;
          border: 1px solid #f7f5f4;
          display: block;
          left: 7.5px;
          max-width: 175px;
          opacity: 0;
          padding-top: 50px;
          top: 0;
          transition: visibility 0s, opacity 0.2s linear;
          visibility: hidden;
          z-index: 9;

          @include media-breakpoint-down(sm) {
            border: none;
            opacity: 1;
            padding-top: 0;
            position: relative;
            visibility: visible;
            z-index: 5;
          }

          &:hover {
            opacity: 1;
            visibility: visible;
          }

          .dropdown-item {
            color: $blue;
            background: #fffdfc;

            &:hover {
              background-color: #f2f1ef;

            }
          }
        }
      }
    }

    .navbar-brand {
      @media screen and (max-width: 400px) {
        margin: 0;
      }
    }
  }
}
