.home {
  background: url("images/home-bg.png") no-repeat left center;

  &-title {}

  &-slider {}

  &-sobre {
    margin-bottom: 135px;

    .entry-title {
      font-size: 43px;
      margin-top: 155px;
      margin-bottom: 17px;
      padding-left: 105px;
    }

    &__text {
      background: url("images/assinatura.png") no-repeat right 204px;
      padding-bottom: 77px;

      p {
        font-size: .9375rem;
        color: #626462;
        max-width: 481px;
        margin-bottom: 25px;
        padding-left: 105px;
      }
    }

    &__nome {
      margin-top: 82px;

      hr {
        background: #abc5c5;
        margin-top: 0;
        margin-bottom: 11px;
        max-width: 265px;
        margin-left: 0;
      }

      p {
        margin: 0;
        font-size: 15px;
        color: #619495;
        padding: 0;
      }
    }
  }

  &-proc {
    position: relative;

    &::before {
      content: "";
      background: url("images/proc-bg.png") no-repeat center;
      width: 411px;
      height: 378px;
      position: absolute;
      right: 211px;
      top: 69px;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .entry {
      &-title {
        z-index: 0;
        margin-bottom: 59px;
        font-size: 2.5625rem;
        margin-top: 101px;

        &--has-bg {
          &::before {
            top: -91px;
            left: auto;
            width: 190px;
            height: 194px;
            right: 80px;
          }
        }
      }
    }

    &__single {
      position: relative;
      max-width: 264px;
      height: 372px;
      margin: auto;
      background-repeat: no-repeat;

      @include media-breakpoint-down(md) {
        margin-top: 10px;
      }
    }

    &__title {
      font-size: .9375rem;
      font-weight: bold;
      color: #fffaf8;
      text-transform: uppercase;
      top: 31px;
      left: 16px;
      display: block;
      position: relative;
      margin: 0;
    }

    &__footer {
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 20px;
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      text-align: right;

      hr {
        background: #ededed;
        margin-bottom: 6px;
      }

      a {
        color: #fffaf8;
        font-weight: 500;
      }
    }
  }

  &-depo {
    margin-top: 30px;
    margin-bottom: 103px;

    &__container {
      min-height: 300px;
      padding-top: 116px;
      background: url("images/dep-bg.png") no-repeat right center;

      .entry-title {
        font-size: 2.6875rem;
        margin-bottom: 23px;
      }

      .bx-wrapper {
        background: transparent;

        .bx-controls-direction {
          position: absolute;
          right: 222px;
          bottom: 20px;
          display: none;

          @include media-breakpoint-up(md) {
            display: block;
          }

          a {
            bottom: 41px;
            top: auto;
          }

          .bx-next {
            background: url("images/right-arrow-blue.png") no-repeat;
          }

          .bx-prev {
            background: url("images/left-arrow-blue.png") no-repeat;
            right: 79px;
            left: auto;
          }
        }

        .bx-viewport {
          min-height: 222px;

          .slide-depo {
            margin: 0;

            p {
              padding-right: 118px;
              margin-bottom: 49px;
            }

            &__nome {
              color: $blue;
              font-size: .9375rem;
              max-width: 265px;
              position: relative;
              left: 155px;

              hr {
                margin: 0;
                background: #abc5c5;
                margin-top: 0;
                margin-bottom: 17px;
              }

              h4 {
                margin-bottom: 5px;
                margin-top: 0;
                font-weight: 300;
                font-size: 15px;
                line-height: 0;
              }
            }
          }
        }
      }
    }
  }

  &-loca {
    min-height: 942px;
    margin-bottom: -214px;
    padding-bottom: 214px;
    padding-top: 95px;
    margin-top: 103px;
    background: url("images/localizacao-home.png") no-repeat center;
    background-size: cover;

    &__end {
      p {
        font-size: .9375rem;
        color: #fffaf8;
        margin: 0;
      }
    }

    &__address {
      margin-top: 43px;

      h4 {
        color: #fffaf8;
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 9px;
        margin-top: 0;
        text-transform: uppercase;
      }

      address {
        color: #fffaf8;
        font-family: texta, sans-serif;
        font-size: .9375rem;
        line-height: 15px;
        margin-bottom: 0;
      }
    }

    .entry {
      &-title {
        &--has-bg {
          font-size: 2.5625rem;
          color: #fffaf8;
          margin-top: 111px;
          margin-bottom: 29px;

          &::before {
            width: 172px;
            height: 172px;
            background-color: #619495;
            top: -130px;
            left: -86px;
          }
        }
      }
    }

    &__map {
      @include media-breakpoint-down(md) {
        margin-top: 10px;
      }
    }
  }
}
